<!-- <header>
    <nav id="navbar">
        <a href="#">Home</a>
        <a href="/">Saved Books</a>
        <a href="/newsearch">Search</a>
        <a href="#">About</a>
    </nav>
</header> -->

<header class="dropdown">
    <!-- <i class="dropbtn" class="fas fa-bars fa-2x"></i> -->
    <button class="dropbtn">Menu</button>
      <nav class='dropdown-content'>
          <a href="#">Home</a>
          <a href="/">Saved</a>
          <a href="/newsearch">Search</a>
          <a href="#">About</a>
      </nav>
  </header>