<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Book</title>
    <script src="https://kit.fontawesome.com/f4021c5793.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div id="headerIcon">
            <h1>Best Books!</h1>
            <i class="fas fa-bars fa-2x"></i>
        </div>
        <footer id="titleFoot">
            <h3>Search by Title or Author</h3>
        </footer>
    </header>
    <main>
        <form action="/search" method="POST">
            <div>
                <input id="searchInput" type="text" name='search' placeholder="Enter Title or Author">
            </div>
            <div id="radios">
                <label>
                    Title
                    <input id="title" type='radio' name='searchby' value='intitle'>
                </label>
                <label>
                    Author
                    <input id="author" type='radio' name='searchby' value='inauthor'>
                </label>
            </div>
            <button type="submit">Search The Google Books API</button>

        </form>
    </main>
    <footer id="circles">
        <div>t</div>
        <div>e</div>
        <div>s</div>
        <div>t</div>
    </footer>
</body>
</html>