@media only screen and (max-width:768px) {
    main {
        background: rgb(160, 158, 158);
        padding-top:40px;
        padding-bottom: 480px;
        padding-left: 60px;

      }
      #radios {
          display: flex;
          flex-direction: column;
          width: 100%;
      }
      ul {
          padding-left: 40px;
      }

      li {
          margin: 10px 0px;
          padding-top: 10px;
      }
      img {
          margin-bottom:10px;
      }
      
}

