<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/css/reset.css"> -->
  <link rel="stylesheet" href="/css/style.css">
  <title>Form Test</title>
</head>

<body>
  <header>
    <h1>Forms Etc.</h1>
  </header>
  
  <main>
    <ul>
        <% books.forEach( book => { %>
        <li id="card">
          <img height="270px" width="200px" src=" <%= book.image %>" alt="">
          <h3>
            <%= book.title %>
          </h3> 
          <p>
            <%= book.author %>
          </p> 
          <p>
            <%= book.description %>
          </p>
        </li>
        <% }) %>
    </ul>
  </main>
  
  <footer><p>&copy; 2020 Adam Owada & Brendon Hampton</p></footer>
  <footer id="circles">
    
        <div>t</div>
        <div>e</div>
        <div>s</div>
        <div>t</div>
    
  </footer>

  <script src="/js/app.js"></script>
</body>
</html>